   
   <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/flight.css' %}" type = "text/css"/>
    <title>PV Airlines</title>
  </head>
  <body>
    <div id="intro">
    <h1>Welcome to PV Airlines!</h1>
    <br>
    <h5>We currently serve flights from Bangalore/Chennai/Hyderabad 
        to Delhi/Mumbai/Rajasthan only.</h5>
  </div>

<div id="booking">
<form action="landing" method="get">
    <div class="row">
        <label for='name' style="padding: 12px">Flyer Name</label><br>
        <div class="col-sm-8">
      <input type="text" class="form-control" name="person_name" required>
    </div>
    </div>
  <div class="row">
    <div class="col">
        <label for='dept'>Departure</label>
     <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="start" required >

        {% for f in flights %}
        <option value={{f.source}}>{{f.source}}</option>
        {% endfor %}
        
      </select>
    </div>
    <div class="col">
        <label for='arrival'>Arrival</label>
     <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="end"required >
        {% for f in flights %}
        <option value={{f.dest}}>{{f.dest}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
   <label for='date'>Date</label><br>
  <input type="date" name="date-travel" required>
  <div class="row">
    <div class="col">
        <br>
        <label for='number'>No. of tickets</label>
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="seats" required>
        <option value="1" selected >1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    </div>
     
<br>

        <button type="submit" class="btn btn-success">SEARCH</button>
   
  

</form>


</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
 
</html> 